{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias quae error excepturi ullam, asperiores magnam harum perferendis cupiditate modi enim, odit, aut tempora accusamus fugit assumenda ex? Quasi, amet. Blanditiis porro delectus id eos tempora neque corporis aliquid eum nesciunt iusto veritatis ea similique amet, nisi harum enim eveniet deleniti consequuntur! Non voluptate, minima aspernatur, officia sed ducimus voluptatem est dolorum corporis libero laboriosam ad at consectetur reprehenderit repellendus, possimus maxime? Distinctio iure labore quod magnam delectus? Laborum voluptas sapiente illum consequuntur iure rerum cum aperiam necessitatibus quibusdam ipsum maxime sed accusantium, aliquam facere dolores optio quasi velit excepturi pariatur.</p>
{% endblock %}